.browse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 100px;
    height: 500px;
    margin-bottom: 30px;
}

.browse-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 500px;
    align-content: center;
    margin-left: 150px;
}


.first-content {
    display: flex;
    font-family: Roboto, Arial;
    font-size: 34px;
    color: darkblue;
    font-weight: 500;
    
}

.second-content {
    display: flex;
    font-family: Roboto, Arial;
    font-size: 24px;
    color: darkgreen;
    font-weight: 50;
}

.third-content {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.third-content-button {
    height: 30px;
    color: black;
    border-radius: 10px;
    font-family: Roboto,Arial;
    font-size: 20px;
    width: 250px;

}

.browse-img img {
    display: flex;
    align-content: center;
    height: 500px;
}

.third-end-content {
    display: flex;
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #ccc;
    border-top-color: #130b3d;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 9999;
}


.display-browsed-audio{
    width: 90%;
    margin-left: 3.5%;
    margin-right: auto auto;
    margin-top: 0;
}

.time-domain-audio {
    margin-left: 123px;
    margin-right: 117px;
    border-width: 2px;    
}

.js-label{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.filename-label{
    font-weight: 600;
    font-size: 26px;
}

.vol-zoom-playback{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.zoom-label{
    justify-content: center;
}

.audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

button {
    background-color: darkgray;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    margin: 0 2px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    
}

button:hover {
    background-color: darkslategray;
}


.spectrogram {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 3.5%;
    margin-right: auto auto;
    justify-content: center;
}

.btn-spectrogram {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    font-size: 24px;
}

.d-spectrogram {
    width: 90%;
    margin-left: 3.5%;
    margin-right: auto auto;
}

.show-melody-annotate {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.show-melody {
    font-family: Roboto, Arial;
    margin-left: 120px;
    font-size: 24px;
}

.annotate {
    width: 100px;
    justify-content: right;
}

.annotate-btn {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    font-size: 24px;
    margin-left: 50px;
}

.download {
    justify-content: center;
    margin-right: 120px;
    
}

.download-btn {
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    font-family: Roboto, Arial;
    font-size: 24px;
}


.display-spectrogram {
    padding-left: 2%;
    height: 600px;
    
}

.display-zoom-spectrogram-melody {
    height: 620px;
    position: relative;
    width: 90%;
    margin-left: 3.5%;
    margin-right: auto auto;
    z-index: 2;
}


.spec-container {
    position: absolute;
    height: 100%;
    width: 100%;
    /* padding-left: 50px;  */
}


.zoom-spectrogram-melody {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chart-container {
    position: relative;
    top: 11%;
    left: 2.4%; 
    width: 91%;
    height: 81%;
}

#overlay-canvas {
    height: 100%;
    width: 100%;
}



.confidence-bar {
    background-color: black;
    position: relative;
    width: 88%;
    left: 5%;
    top: 93%;
}



#js-confidence-bar {
    height: 20px;
}


.play-remove-retrain-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    margin-left: 550px;
    justify-content: space-between;   
    
}

.play-button {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    font-size: 24px;
}

.remove-button {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    font-size: 24px;
}

.retrain-button {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    font-size: 24px;
}

.original-resynth-toggle-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 350px;
    margin-bottom: 30px;
    font-size: 24px;
}

.switch {
    margin-right: 80px;
    font-size: 18px;
    font-family: Roboto, Arial;
}

#volumeSliderOr,
#volumeSliderRe {
    margin-right: 50px;
}



/*Footer of the page*/  
.footer{
    bottom: 0;
}

.team{
    display: flex;
    flex-direction: column;
    margin-top: 500px;
}

.authors {
    display: flex;
    font-style: Roboto, Arial;
    font-size: 18px;
}

.affiliation {
    display: flex;
    font-style: Roboto, Arial;
    margin-left: 18px;
    font-size: 18px;
}

.contact {
    display: flex;
    font-style: Roboto, Arial;
    margin-left: 18px;
    font-size: 18px;

}

