.browse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 100px;
    height: 500px;
    /* background-color: blue; */
    margin-bottom: 30px;
}

.browse-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 500px;
    align-content: center;
    margin-left: 150px;
    /* background-color: yellow; */

}

.first-content {
    /* background-color: pink; */
    display: flex;
    font-family: Roboto, Arial;
    font-size: 34px;
    color: darkblue;
    font-weight: 500;
    
}

.second-content {
    display: flex;
    font-family: Roboto, Arial;
    font-size: 24px;
    /* color: gray; */
    color: darkgreen;
    font-weight: 50;
}

.third-content {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    width: 250px;
}

.third-content-button {
    /* background-color: rgb(3, 3, 106); */
    height: 30px;
    color: black;
    border-radius: 10px;
    font-family: Roboto,Arial;
    font-size: 20px;
    width: 250px;

}

.browse-img img {
    display: flex;
    align-content: center;
    height: 500px;
}

.third-end-content {
    /* background-color: pink; */
    display: flex;
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #ccc;
    border-top-color: #130b3d;
    border-radius: 50%;
    animation: spin 1s infinite linear;
  }
  
@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 9999;
  }

.display-browsed-audio{
    /* background-color: pink; */
    width: 90%;
    margin-left: 65px;
    margin-right: auto auto;
    /* margin: 200px auto; */
    margin-top: 0;
}

.time-domain-audio {
    /* background-color: blue; */
    margin-left: 123px;
    margin-right: 117px;
    border-width: 2px;    
}

.js-label{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    height: 50px;
    /* height: 100px; */
    justify-content: space-between;
    align-items: center;
}

.filename-label{
    font-weight: 600;
    font-size: 26px;
}

.vol-zoom-playback{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    /* font-size: 24px; */
}

.zoom-label{
    /* background-color: orange; */
    justify-content: center;
}

.audio-controls {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

button {
    background-color: darkgray;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    margin: 0 2px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    
}

button:hover {
    background-color: darkslategray;
}

.spectrogram {
    /* background-color: lightblue; */
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 65px;
    margin-right: auto auto;
    justify-content: center;
}

.btn-spectrogram {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    /* font-size: 18px; */
    font-size: 24px;
}

.d-spectrogram {
    /* background-color: blue; */
    width: 90%;
    margin-left: 65px;
    margin-right: auto auto;
}


.show-melody-annotate {
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.show-melody {
    /* background-color: yellow; */
    font-family: Roboto, Arial;
    margin-left: 120px;
    font-size: 24px;
}

.annotate {
    /* background-color: lightblue; */
    width: 100px;
    justify-content: right;
}

.annotate-btn {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    /* font-size: 18px; */
    font-size: 24px;
    margin-left: 50px;
}

.download {
    /* background-color: pink; */
    justify-content: center;
    margin-right: 120px;
    /* width: 250px; */
    
}

.download-btn {
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    font-family: Roboto, Arial;
    /* font-size: 18px; */
    font-size: 24px;
    /* width: 180px; */
}

.display-spectrogram {
    /* background-color: pink; */
    padding-left: 50px;
    height: 600px;
    
}

.display-zoom-spectrogram-melody {
    /* background-color: black; */
    /* height: 605px; */
    height: 620px;
    position: relative;
    width: 90%;
    margin-left: 65px;
    margin-right: auto auto;
}

.spec-container {
    position: relative;
    /* background-color: yellow; */
    /* z-index: 2; */
    height: 600px;
    /* width: 1650px; */
    width: 94%;
    padding-left: 50px;
    
    
}

.zoom-spectrogram-melody {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* .chart-container {
    position: relative;
    top: -520px;
    left: 87px;
    width: 1503px;
    height: 460px;
} */


.chart-container {
    position: relative;
    top: -520px;
    left: 87px;
    width: 1440px;
    height: 460px;
    
}


#overlay-canvas {
    position: absolute;    
    height: 100%;
    width: 100%;
    z-index: 2;
}


/* .confidence-bar {
    position: relative;
    width: 1452px;
    left: 78px;
    top: 550px;
    z-index: 10;
} */

.confidence-bar {
    position: relative;
    width: 1392px;
    left: 78px;
    top: 550px;
    z-index: 10;
}



#js-confidence-bar {
    /* width: 100%; */
    height: 20px;
}


.play-remove-retrain-btn {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    margin-left: 550px;
    justify-content: space-between;   
    
}

.play-button {
    /* background-color: pink; */
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    /* font-size: 18px; */
    font-size: 24px;
}

.remove-button {
    /* background-color: lightblue; */
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    /* font-size: 18px; */
    font-size: 24px;
}

.retrain-button {
    /* background-color: gray; */
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto, Arial;
    /* font-size: 18px; */
    font-size: 24px;
}

.original-resynth-toggle-buttons {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 350px;
    margin-bottom: 30px;
    font-size: 24px;
}

.switch {
    margin-right: 80px;
    font-size: 18px;
    font-family: Roboto, Arial;
}

#volumeSliderOr,
#volumeSliderRe {
    margin-right: 50px;
}









/*Footer of the page*/  
.footer{
    bottom: 0;
}

.team{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    margin-top: 500px;
}

.authors {
    /* background-color: blue; */
    display: flex;
    font-style: Roboto, Arial;
    font-size: 18px;
}

.affiliation {
    /* background-color: red; */
    display: flex;
    font-style: Roboto, Arial;
    margin-left: 18px;
    font-size: 18px;
}

.contact {
    /* background-color: red; */
    display: flex;
    font-style: Roboto, Arial;
    margin-left: 18px;
    font-size: 18px;

}

