<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>IMAT</title>
  <link href="{{ url_for('static', filename='icons/favicon.ico')}}" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="../static/css/body.css">
  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/css/header.css">

  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--Chart.js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>
<body>
  <div class="header">
    <div class="left-section">
      <img class="imat-icon" src="{{ url_for('static', filename='icons/logo.png') }}"> 
      <p class="imat-text">IMAT</p>
    </div>

    <div class="right-section">
      <div class="team-link">  <a class="header-link" href="javascript:void(0)" onclick="document.getElementById('team-section').scrollIntoView({behavior: 'smooth'})">Team</a></div>
      <!-- <div class="madhav-link"><a class="header-link" href="https://madhavlab.github.io/" target="_blank">MadhavLab</a></div>   -->
    </div>
    <div class="spinner-container" id="id_spinner_container">
      <div class="spinner"></div>
      <div class="spinner-text" id="id_spinner_text">Loading...</div>
    </div>

  </div>


  <!--Browse section-->
  <div id="browse-section" class="browse">
    <div class="browse-content">
      <div class="first-content">
        Interactive Interface for Singing Melody Extraction and Annotation
      </div>
      <div class="second-content">
        Browse audio file that you wish to annotate
      </div>
      <div class="third-content">
        <input type="file" id="fileInput" accept=".wav" style="display: none;">
        <button class="third-content-button" id="uploadButton">
          Upload audio file (.wav)
        </button>
        <div class="js-upload-msg third-end-content">          
        </div>
      </div>
      
    </div>
    <div class="browse-img">
      <img src="{{ url_for('static', filename='icons/melody.png') }}">
    </div>
  </div>


  <!--Display browsed audio that contains the entire audio controls, 
    show spectrogram, annotate, retraining and then download csv-->
  <div class="display-browsed-audio">

    <!--Includes filename, volume, zoom and playback speed-->
    <div class="js-label"></div>

    <!--Includes time domain waveform-->
    <div class="time-domain-audio" id="audiowave"></div>

    <!--Includes play/pause and stop button-->
    <div class="js-audio-controls audio-controls"></div> 
  </div>
    
  <!--Includes show spectrogram button-->
  <div class="js-spectrogram spectrogram"></div>

  <!--Display spectrogram div-->
  <div class="d-spectrogram">
    <!--Spectrogram plot-->
    <div class="display-spectrogram" id="js-display-spectrogram"></div> 

    <!--Includes show melody checkbox and annotate button-->
    <div class="js-show-melody-annotate-download"></div>
  </div>

  <!--Show zoom spectrogram overlayed with melody canvas container-->
  <div class="display-zoom-spectrogram-melody">
      <div class="spec-container"> 
        <div class="zoom-spectrogram-melody" id="js-display-zoom-spectrogram-melody"></div>
        <div class="confidence-bar" id="js-confidence-bar"></div>
      </div>
      <div class="chart-container"> 
        <canvas id="overlay-canvas"></canvas> 
        <!-- <canvas id="canvas2"></canvas> -->
      </div>
      <!--Confidence Bar-->
      <!-- <div class="confidence-bar" id="js-confidence-bar"></div> -->
  </div>


  <!--Confidence Bar-->
  <!-- <div class="confidence-bar" id="js-confidence-bar"></div> -->


  <!-- Toggle buttons-->
  <div class="original-resynth-toggle-buttons js-or-re-tbtn"> </div>

  <!-- Remove and Retrain buttons -->
  <div class="play-remove-retrain-btn">
    <div class="play-btn js-play-btn"></div>
    <div class="remove-btn js-remove-btn"></div>
    <div class="retrain-btn js-retrain-btn"></div>
  </div>    
  


  <!-- <div class="js-annotate annotate"> </div> -->

  
  <!--Footer (Team and Mail ids)-->
  <div class="footer">
    <div id="team-section" class="team">
      <div class="authors">
        &#169; Kavya Ranjan Saxena, Saransh Shivhare, Dr. Vipul Arora
      </div>
      <div class="affiliation">
        MADHAV Lab, Indian Institute of Technology, Kanpur, India
      </div>
      <div class="contact">
        Contact:<a href="mailto:kavyars@iitk.ac.in"> kavyars@iitk.ac.in</a>
      </div>
    </div>
  </div>

  <!-- <script src="https://unpkg.com/wavesurfer.js@6.6"></script> -->
  <script type="module" src="../static/js/script.js"></script>
  <script type="module" src="../static/js/wavesurfer-module.js"></script>
  
</body>
</html>